name: klippa_scanner_sdk
description: A new Flutter project.
version: 0.0.1
homepage: https://github.com/klippa-app/flutter-klippa-scanner-sdk

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 < 2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.klippa.scanner.klippa_scanner_sdk
        pluginClass: KlippaScannerSdkPlugin
      ios:
        pluginClass: KlippaScannerSdkPlugin
